.log-inpage-container {
  min-height: 100vh;
}
.log-inpage-listingpage2 {
  width: 100%;
  height: 2651px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(0, 85, 96, 1) 0%, rgba(165, 192, 196, 1) 100%);
}
.log-inpage-travel-appor-website-logo22 {
  top: 20px;
  left: 97px;
  width: 181px;
  height: 155px;
  position: absolute;
  border-color: transparent;
  border-radius: 51px;
}
.log-inpage-frame2 {
  top: 77px;
  left: 687px;
  width: 377px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.log-inpage-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 36px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Comfortaa;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 24px;
  margin-bottom: 0;
  text-decoration: none;
}
.log-inpage-text02 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 36px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Comfortaa;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.log-inpage-text04 {
  top: 77px;
  left: 535px;
  color: rgba(255, 255, 255, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Comfortaa;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.log-inpage-ellipse4 {
  top: 32px;
  left: 1179px;
  width: 103px;
  height: 85px;
  position: absolute;
  border-color: transparent;
}
.log-inpage-vector {
  top: 99.7152099609375px;
  left: 7.863852024078369px;
  width: 71px;
  height: 56px;
  position: absolute;
}
.log-inpage-text06 {
  top: 252px;
  left: 97px;
  color: rgba(209, 212, 212, 1);
  width: 1176px;
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 132.40000009536743%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.log-inpage-rectangle13 {
  top: 403px;
  left: 76px;
  width: 301px;
  height: 343px;
  position: absolute;
  border-color: transparent;
  border-radius: 70px;
}
.log-inpage-rectangle14 {
  top: 897px;
  left: 963px;
  width: 409px;
  height: 429px;
  position: absolute;
  border-color: transparent;
  border-radius: 70px;
}
.log-inpage-rectangle15 {
  top: 1373px;
  left: 122px;
  width: 351px;
  height: 415px;
  position: absolute;
  border-color: transparent;
  border-radius: 70px;
}
.log-inpage-rectangle16 {
  top: 2082px;
  left: 992px;
  width: 351px;
  height: 415px;
  position: absolute;
  border-color: transparent;
  border-radius: 70px;
}
.log-inpage-group67 {
  top: 455px;
  left: 439px;
  width: 916px;
  height: 278.1123352050781px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.log-inpage-rectangle131 {
  top: 0px;
  left: 0px;
  width: 916px;
  height: 278px;
  position: absolute;
}
.log-inpage-text11 {
  top: 64.15059661865234px;
  left: 44.18155288696289px;
  color: rgba(0, 0, 0, 1);
  width: 872px;
  height: auto;
  position: absolute;
  font-size: 23.669677734375px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.log-inpage-text16 {
  font-weight: 600;
}
.log-inpage-text20 {
  font-weight: 400;
}
.log-inpage-text26 {
  top: 36.01436996459961px;
  left: 311.2791442871094px;
  color: rgba(0, 0, 0, 1);
  width: 337px;
  height: auto;
  position: absolute;
  font-size: 25.313602447509766px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.log-inpage-group68 {
  top: 944px;
  left: 26px;
  width: 1392px;
  height: 1477px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.log-inpage-rectangle132 {
  top: 0px;
  left: 3px;
  width: 885px;
  height: 297px;
  position: absolute;
}
.log-inpage-text28 {
  top: 86px;
  left: 46px;
  color: rgba(0, 0, 0, 1);
  width: 821px;
  height: auto;
  position: absolute;
  font-size: 23.669677734375px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.log-inpage-text33 {
  font-weight: 600;
}
.log-inpage-text41 {
  top: 53px;
  left: 330px;
  color: rgba(0, 0, 0, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 25.313602447509766px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.log-inpage-group671 {
  top: 543px;
  left: 0px;
  width: 1392px;
  height: 934px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.log-inpage-rectangle133 {
  top: 0px;
  left: 482px;
  width: 910px;
  height: 309px;
  position: absolute;
}
.log-inpage-text43 {
  top: 103px;
  left: 526px;
  color: rgba(0, 0, 0, 1);
  width: 861px;
  height: auto;
  position: absolute;
  font-size: 23.669677734375px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.log-inpage-text48 {
  font-weight: 600;
}
.log-inpage-group672 {
  top: 595px;
  left: 0px;
  width: 937px;
  height: 339px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.log-inpage-rectangle134 {
  top: 0px;
  left: 0px;
  width: 937px;
  height: 304px;
  position: absolute;
}
.log-inpage-text56 {
  top: 120px;
  left: 63px;
  color: rgba(0, 0, 0, 1);
  width: 837px;
  height: auto;
  position: absolute;
  font-size: 23.669677734375px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.log-inpage-text61 {
  font-weight: 600;
}
.log-inpage-text69 {
  top: 84px;
  left: 328px;
  color: rgba(0, 0, 0, 1);
  width: 416px;
  height: auto;
  position: absolute;
  font-size: 25.313602447509766px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.log-inpage-text71 {
  top: 1538px;
  left: 822px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
